# ==================================================
# Application
# ==================================================

NODE_ENV=development
PORT=3000

# ==================================================
# Database
# ==================================================

DATABASE_URL=

# ==================================================
# Authentication
# ==================================================

JWT_SECRET=
JWT_EXPIRES_IN=7d